        <!-- <p-tabView>
            <p-tabPanel header="{{ 'menu.all' | translate }}" leftIcon="ui-icon-apps"> -->
                <ul app-submenu [item]="model" root="true" class="ultima-menu ultima-main-menu clearfix" [reset]="reset" visible="true"></ul>
            <!-- </p-tabPanel>
            <p-tabPanel header="{{ 'menu.favorites' | translate }}" leftIcon="ui-icon-favorite">
                <ul app-submenu [item]="favorites" root="true" class="ultima-menu ultima-main-menu clearfix" [reset]="reset" visible="true"></ul>
            </p-tabPanel>
        </p-tabView>  -->