<verifier-selection [visible]="showVerifierSelectionModal" [command]="command" (onVerifierSelect)="onVerifierSelect($event)"></verifier-selection>

<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Demand deposit account</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" label="Save" icon="ui-icon-save" class="default-btn" (click)="submit()"></button>
            <button pButton type="button" label="Back" icon="ui-icon-keyboard-arrow-left" class="default-btn" (click)="cancel()"></button>
        </div>
    </div>
</div>
<br/>
<br/>


<div style="display: flex; flex-direction: row; width: 100%;">
    <form class="ui-fluid form-group" [formGroup]="demandDepositAccountForm">
        <div style="width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 1">
                <mat-card-title>Customer detail:</mat-card-title>
                <customer-details [customer]="customer"></customer-details>
            </mat-card>
        </div>

        <div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Account detail:</mat-card-title>
                <div class="ui-g">

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-6 ui-md-6">
                            <span class="md-inputfield">
                                <input type="text" formControlName="name" pInputText [attr.disabled]="accountDetailFieldDisable ? 'disabled' : null">
                                <label>Account title*</label>
                                <div *ngIf="demandDepositAccountForm.controls['name'].errors && !demandDepositAccountForm.controls['name'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!demandDepositAccountForm.controls['name'].errors.required">Account
                                        title is required.</div>
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-6 ui-md-6">
                            <span class="md-inputfield-2">
                                <p-dropdown name="productId" [options]="demandDepositProducts | demandDepositProductPipe" [autoWidth]="false" formControlName="productId"
                                    (onChange)="onDemandDepositProductChange(true)" [disabled]="accountDetailFieldDisable"></p-dropdown>
                                <label class="md-inputlabel-2">Product*</label>
                                <div *ngIf="demandDepositAccountForm.controls['productId'].errors && !demandDepositAccountForm.controls['productId'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!demandDepositAccountForm.controls['productId'].errors.required">Product
                                        is required.</div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" formControlName="number" pInputText style="opacity: 1;">
                                <label>Account number*</label>
                                <div *ngIf="demandDepositAccountForm.controls['number'].errors && !demandDepositAccountForm.controls['number'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!demandDepositAccountForm.controls['number'].errors.required">Account
                                        number is required.</div>
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-1 ui-md-2">
                            <button pButton type="button" icon="ui-icon-keyboard-arrow-up" class="default-btn" [disabled]="true"></button>
                            <button pButton type="button" icon="ui-icon-settings-backup-restore" class="default-btn" (click)="generateAccountNumber()"
                                [disabled]="disableAccountNumberGenerateButton()"></button>
                        </div>

                        <div class="ui-g-12 ui-md-6" *ngIf="!multipleCurrency">
                            <span class="md-inputfield">
                                <input type="text" formControlName="currencyCode" pInputText [attr.disabled]="'disabled'" style="opacity: 1;">
                                <label>Currency code*</label>
                                <div *ngIf="demandDepositAccountForm.controls['currencyCode'].errors && !demandDepositAccountForm.controls['currencyCode'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!demandDepositAccountForm.controls['currencyCode'].errors.required">Currency
                                        is required.</div>
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-6" *ngIf="multipleCurrency">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="currencies" [autoWidth]="false" formControlName="currencyCode" [disabled]="accountDetailFieldDisable"></p-dropdown>
                                <label class="md-inputlabel-2">Currency code*</label>
                                <div *ngIf="demandDepositAccountForm.controls['currencyCode'].errors && !demandDepositAccountForm.controls['currencyCode'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!demandDepositAccountForm.controls['currencyCode'].errors.required">Currency
                                        is required.</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card style="flex: 3;">
                <mat-card-title>Other:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input type="text" formControlName="introducerAccountId" pInputText>
                                <label>Introducer account number{{demandDepositProductDetails.hasIntroducer?'*':''}}</label>
                                <div *ngIf="demandDepositAccountForm.controls['introducerAccountId'].errors && !demandDepositAccountForm.controls['introducerAccountId'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!demandDepositAccountForm.controls['introducerAccountId'].errors.required">Introducer
                                        account number is required.</div>
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input type="text" formControlName="introducerName" pInputText style="opacity: 1;">
                                <label>Introducer name</label>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input type="text" formControlName="purpose" pInputText>
                                <label>Account opening purpose</label>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield-2">
                                <p-dropdown name="accountOpeningChannelId" [options]="accountOpeningChannels | accountOpeningChannelPipe" [autoWidth]="false"
                                    formControlName="accountOpeningChannelId"></p-dropdown>
                                <label class="md-inputlabel-2">Account opening channel</label>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input type="text" formControlName="relationshipManager" pInputText>
                                <label>Relationship manager</label>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <!-- <mat-card style="width:100%; margin-bottom: 10px;">
            <mat-card-title>Other:</mat-card-title>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input type="text" formControlName="introducerAccountId" pInputText>
                            <label>Introducer account number{{demandDepositProductDetails.hasIntroducer?'*':''}}</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input type="text" formControlName="introducerName" pInputText>
                            <label>Introducer name</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input type="text" formControlName="purpose" pInputText>
                            <label>Account opening purpose</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield-2">
                            <p-dropdown name="accountOpeningChannelId" [options]="accountOpeningChannels | accountOpeningChannelPipe" [autoWidth]="false"
                                formControlName="accountOpeningChannelId"></p-dropdown>
                            <label class="md-inputlabel-2">Account opening channel</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input type="text" formControlName="relationshipManager" pInputText>
                            <label>Relationship manager</label>
                        </span>
                    </div>
                </div>
            </div>
        </mat-card> -->

        <div style="display: flex; flex-direction: row; width: 100%;">
            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Contact information:</mat-card-title>
                <contact-information [contactInformation]="contactInformation" #contactInformationComponent></contact-information>
            </mat-card>

            <mat-card style="flex: 3;">
                <mat-card-title>Contact address:</mat-card-title>
                <address-component [address]="contactAddress" #contactAddressComponent></address-component>
            </mat-card>
        </div>
    </form>
</div>
<p-footer>
    * indicates required field.
</p-footer>
<comment-component [commentGroup]="commandReference" style="width: 100%" *ngIf="commandReference"></comment-component>