<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-6" style="padding-right:30px">
            <h6>Purchaser Information</h6>
            <table>
                <tr>
                    <th class="table-row">Purchaser Name: </th>
                    <td>{{inlandRemittanceInstrument.purchaserName}}</td>
                </tr>
                <tr>
                    <th>Purchaser Address:</th>
                    <td class="address">{{inlandRemittanceInstrument.purchaserAddress}}</td>
                </tr>
                <tr>
                    <th>Purchaser Mobile:</th>
                    <td>{{inlandRemittanceInstrument.purchaserMobile}}</td>
                </tr>
                <tr>
                    <th>Purchaser NID:</th>
                    <td>{{inlandRemittanceInstrument.purchaserNid}}</td>
                </tr>
                <tr>
                    <th>Purchaser Account No:</th>
                    <td>{{inlandRemittanceInstrument.purchaserAccountNo}}</td>
                </tr>
                <tr>
                    <th>Purchaser method:</th>
                    <td>{{inlandRemittanceInstrument.purchaseMethod}}</td>
                </tr>
            </table>
        </div>
        <div class="ui-g-6">
            <h6>Payee Information</h6>
            <table>
                <tr>
                    <th class="table-row">Payee Name: </th>
                    <td>{{inlandRemittanceInstrument.payeeName}}</td>
                </tr>
                <tr>
                    <th>Payee Address:</th>
                    <td class="address">{{inlandRemittanceInstrument.payeeAddress}}</td>
                </tr>
                <tr>
                    <th>Payee Mobile:</th>
                    <td>{{inlandRemittanceInstrument.payeeMobile}}</td>
                </tr>
                <tr>
                    <th>Payee NID:</th>
                    <td>{{inlandRemittanceInstrument.payeeNid}}</td>
                </tr>
                <tr>
                    <th>Payee Account No:</th>
                    <td>{{inlandRemittanceInstrument.payeeAccountNo}}</td>
                </tr>
                <tr>
                    <th>Payment Method:</th>
                    <td>{{inlandRemittanceInstrument.paymentMethod}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-6" style="padding-right:30px">
            <h6>Basic Information</h6>
            <table>
                <tr>
                    <th class="table-row">Remittance Product:</th>
                    <td>{{inlandRemittanceInstrument.inlandRemittanceProduct.name}}</td>
                </tr>
                <tr>
                    <th>Instrument No:</th>
                    <td>{{inlandRemittanceInstrument.instrumentNo}}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{inlandRemittanceInstrument.status}}</td>
                </tr>
            </table>
        </div>
        <div class="ui-g-6">
            <h6>Chargers</h6>
            <table>
                <tr>
                    <th class="table-row">Amount:</th>
                    <td>{{inlandRemittanceInstrument.purchaseAmount}}</td>
                </tr>
                <!-- <tr>
                    <th>Commission:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>VAT:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Total Amount:</th>
                    <td>{{inlandRemittanceInstrument.purchaseAmount}}</td>
                </tr> -->
            </table>
        </div>
    </div>
</div>