<!-- <div class="ui-g">
  <div class="ui-g-12">

    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Country</span>

          <div class="ui-toolbar-group-right">

            <button pButton type="button" label="New" icon="ui-icon-plus" class="default-btn" (click)="create()"></button>
            <button pButton type="button" label="Refresh" icon="ui-icon-update" class="default-btn"></button>

          </div>
        </div>
      </p-header>

      <p-dataTable [value]="countries" selectionMode="single" [(selection)]="selectedCountry" (onRowSelect)="navigateToCountryDetails()">
        <p-column field="name" header="name"></p-column>
        <p-column field="isoAlpha2Code" header="ISO Alpha2Code"></p-column>
        <p-column field="isoAlpha3Code" header="ISO Alpha3Code"></p-column>
        <p-column field="isoNumericCode" header="ISO NumericCode"></p-column>

      </p-dataTable>
    </p-panel>
  </div>
</div> -->
<document-component></document-component>