<verifier-selection [visible]="showVerifierSelectionModal" [command]="command" [processId]="processId" (onVerifierSelect)="onVerifierSelect($event)"></verifier-selection>

<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Approve Task: Installment Deposit Product</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" class="default-btn" label="Accept" icon="fa-check" (click)="submit()"></button>
            <button pButton type="button" class="default-btn" label="Reject" icon="ui-icon-block" (click)="verifyTask('REJECT',null)"></button>
            <button pButton type="button" class="default-btn" label="Correction" icon="ui-icon-edit" (click)="verifyTask('CORRECTION',null)"></button>
            <button pButton type="button" class="default-btn" label="Profit Rate" icon="ui-icon-attach-money" (click)="goToProfitRate()"></button>
            <button pButton type="button" class="default-btn" label="General ledger mapping" icon="ui-icon-insert-link" (click)="goToProductGeneralLedgerMapping()"></button>
            <button pButton type="button" class="default-btn" label="Back" icon="ui-icon-keyboard-arrow-left" (click)="cancel()"></button>
        </div>
    </div>
</div>

<br/>
<br/>
<mat-card>
    <div style="display: flex; flex-direction: column; width: 100%;">
        <div style="width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 1">
                <mat-card-title style="display: flex;flex-direction: row">
                    <div style="flex:1">Basic information:</div>
                    <!-- <div align="right">
                        <b>
                            <p>{{recurringDepositProduct.status}}</p>
                        </b>
                    </div> -->
                </mat-card-title>
                <div style="display: flex; flex-direction: row; width: 100%;">

                    <div style="flex: 5; margin-right: 3px;">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Name</th>
                                <td>{{recurringDepositProduct.name}}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{recurringDepositProduct.description}}</td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td>{{recurringDepositProduct.code}}</td>
                            </tr>
                        </table>
                    </div>
                    <div style="flex: 5;">
                        <table class="table table-bordered table-striped">
                            <!-- <tr>
                                <th>Status</th>
                                <td>{{recurringDepositProduct.status?recurringDepositProduct.status:'Inactive'}}</td>
                            </tr> -->
                            <tr>
                                <th>Currency restriction</th>
                                <td>
                                    {{ recurringDepositProduct.currencyRestriction | sentenceCasePipe}}
                                </td>

                            </tr>
                            <tr>
                                <th>Currencies</th>
                                <td>
                                    {{recurringDepositProduct.currencies}}
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </mat-card>
        </div>

        <div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Installment amount:</mat-card-title>
                <div class="ui-g">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Initial deposit allowed</th>
                            <td align="center">
                                <i class='material-icons-done-close'>
                                    {{recurringDepositProduct.isInitialDepositAllowed?"done":"close"}}
                                </i>
                            </td>
                        </tr>
                        <tr *ngIf="recurringDepositProduct.isInitialDepositAllowed">
                            <th>Initial deposit</th>
                            <td>
                                {{recurringDepositProduct.initialDeposit}}
                            </td>
                        </tr>
                        <tr>
                            <th>Installment fixed</th>
                            <td align="center">
                                <i class='material-icons-done-close'>
                                    {{recurringDepositProduct.isInstallmentFixed?"done":"close"}}
                                </i>
                            </td>
                        </tr>
                        <tr *ngIf="!recurringDepositProduct.isInstallmentFixed">
                            <th>Minimum deposit amount</th>
                            <td>
                                {{recurringDepositProduct.minimumDepositAmount}}
                            </td>
                        </tr>
                        <tr *ngIf="!recurringDepositProduct.isInstallmentFixed">
                            <th>Maximum deposit amount</th>
                            <td>{{recurringDepositProduct.maximumDepositAmount}}</td>
                        </tr>
                        <tr *ngIf="!recurringDepositProduct.isInstallmentFixed">
                            <th>Deposit amount multiplier</th>
                            <td>{{recurringDepositProduct.depositAmountMultiplier}}</td>
                        </tr>
                    </table>

                    <p-dataTable [value]="installmentSizes" [rows]="2" [paginator]="true" *ngIf="recurringDepositProduct.isInstallmentFixed">
                        <p-column field="id" header="#SL" [style]="{'width':'70px','text-align':'center'}">
                            <ng-template let-i="rowIndex" pTemplate="body">
                                {{i+1}}
                            </ng-template>
                        </p-column>
                        <p-column header="Installment size" [style]="{'text-align':'center'}">
                            <ng-template let-i="rowIndex" pTemplate="body">
                                {{installmentSizes[i]}}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </mat-card>
            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Product calculation:</mat-card-title>
                <div class="ui-g">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Profit posting period</th>
                            <td>
                                {{recurringDepositProduct.profitPostingPeriod | sentenceCasePipe}}
                            </td>
                        </tr>
                        <tr>
                            <th>Profit posting period type</th>
                            <td>{{recurringDepositProduct.profitPostingPeriodType | sentenceCasePipe}}</td>
                        </tr>
                        <tr>
                            <th>Compounding before maturity allowed</th>
                            <td align="center">
                                <i class='material-icons-done-close'>
                                    {{recurringDepositProduct.isCompoundingBeforeMaturityAllowed?"done":"close"}}
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <th>Withdraw profit before maturity allowed</th>
                            <td align="center">
                                <i class='material-icons-done-close'>
                                    {{recurringDepositProduct.isWithdrawProfitBeforeMaturityAllowed?"done":"close"}}
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <th>Profit applied before maturity</th>
                            <td align="center">
                                <i class='material-icons-done-close'>
                                    {{recurringDepositProduct.isProfitAppliedBeforeMaturity?"done":"close"}}
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <th>Days in year</th>
                            <td>{{recurringDepositProduct.daysInYear | sentenceCasePipe}}</td>
                        </tr>
                    </table>
                </div>
            </mat-card>
        </div>


        <div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px;">


            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Tenor:</mat-card-title>
                <div class="ui-g">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Tenor required</th>
                            <td align="center">
                                <i class='material-icons-done-close'>
                                    {{recurringDepositProduct.isTenorRequired?"done":"close"}}
                                </i>
                            </td>
                        </tr>
                    </table>

                    <p-dataTable [value]="tenors" [rows]="2" [paginator]="true">
                        <p-column field="id" header="#SL" [style]="{'width':'70px','text-align':'center'}">
                            <ng-template let-i="rowIndex" pTemplate="body">
                                {{i+1}}
                            </ng-template>
                        </p-column>
                        <p-column header="Tenor type" [style]="{'text-align':'center'}">
                            <ng-template pTemplate="body">
                                {{recurringDepositProduct.tenorType}}
                            </ng-template>
                        </p-column>
                        <p-column header="Tenor" [style]="{'text-align':'center'}">
                            <ng-template let-i="rowIndex" pTemplate="body">
                                {{tenors[i]}}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </mat-card>
            <mat-card style="flex: 3">
                <mat-card-title>Lien:</mat-card-title>

                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Lien allowed</th>
                        <td align="center">
                            <i class='material-icons-done-close'>
                                {{recurringDepositProduct.isLienAllowed?"done":"close"}}
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <th>Lien percentage</th>
                        <td>{{recurringDepositProduct.lienPercentage}}%</td>
                    </tr>
                </table>
                <mat-card-title>Over due:</mat-card-title>

                <table class="table table-bordered table-striped">
                    <tr>
                        <th>No of over due allowed</th>
                        <td>{{recurringDepositProduct.noOfOverDueAllowed}}</td>
                    </tr>
                    <tr>
                        <th>No of over due allowed between slab</th>
                        <td>{{recurringDepositProduct.noOfOverDueAllowedBetweenSlab}}</td>
                    </tr>
                </table>
            </mat-card>
        </div>
        <div style="width: 100%; ">

            <mat-card style="flex: 1">
                <mat-card-title>Other:</mat-card-title>
                <div style="display: flex; flex-direction: row; width: 100%;">
                    <div style="flex: 3;margin-right: 5px;">
                        <table class="table table-bordered table-striped">

                            <tr>
                                <th>Link account required</th>
                                <td align="center">
                                    <i class='material-icons-done-close'>
                                        {{recurringDepositProduct.isLinkAccountRequired?"done":"close"}}
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <th>Pension scheme</th>
                                <td align="center">
                                    <i class='material-icons-done-close'>
                                        {{recurringDepositProduct.isPensionScheme?"done":"close"}}
                                    </i>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div style="flex: 3;">

                        <table class="table table-bordered table-striped">

                            <tr>
                                <th>Advance install allowed</th>
                                <td align="center">
                                    <i class='material-icons-done-close'>
                                        {{recurringDepositProduct.isAdvanceInstallAllowed?"done":"close"}}
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <th>Calculate profit on advance</th>
                                <td align="center">
                                    <i class='material-icons-done-close'>
                                        {{recurringDepositProduct.isCalculateProfitOnAdvance?"done":"close"}}
                                    </i>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </mat-card>
        </div>

    </div>
    <comment-component [commentGroup]="commandReference" style="width: 100%" *ngIf="commandReference"></comment-component>
</mat-card>