<verifier-selection [visible]="showVerifierSelectionModal" [command]="command" [processId]="processId" (onVerifierSelect)="onVerifierSelect($event)"></verifier-selection>

<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Approve Task</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" class="default-btn" label="Accept" icon="fa-check" (click)="submit()"></button>
            <button pButton type="button" class="default-btn" label="Reject" icon="ui-icon-block" (click)="verifyTask('REJECT',null)"></button>
            <button pButton type="button" class="default-btn" label="Correction" icon="ui-icon-edit" (click)="verifyTask('CORRECTION',null)"></button>
            <button pButton type="button" class="default-btn" label="Back" icon="ui-icon-keyboard-arrow-left" (click)="cancel()"></button>
        </div>
    </div>
</div>

<br/>
<br/>
<div style="display: flex; flex-direction: row; width: 100%;">
    <form class="ui-fluid form-group" [formGroup]="tellerForm">
        <div style="width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 1">
                <div class="ui-g">
                    <mat-card-title>Basic information:</mat-card-title>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="branches | branchList" [autoWidth]="false" [filter]="true" filterBy="label" formControlName="branchId"
                                    [style]="{'width':'100%','font-size':'14px'}" [disabled]="true"></p-dropdown>
                                <label class="md-inputlabel-2">Branch</label>
                            </span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="tellerTypes" [autoWidth]="false" formControlName="tellerType" [disabled]="true"></p-dropdown>
                                <label class="md-inputlabel-2">Teller type</label>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" formControlName="title" pInputText readonly>
                                <label>Title</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" formControlName="code" pInputText readonly>
                                <label>Code</label>
                            </span>
                        </div>
                    </div>
                    <br/>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="currencyRestrictions" [autoWidth]="false" formControlName="currencyRestriction" [disabled]="true"></p-dropdown>
                                <label class="md-inputlabel-2">Currency restrictions</label>

                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="glAccounts | glaccountPipe" [autoWidth]="false" formControlName="glId" [disabled]="true"></p-dropdown>
                                <label class="md-inputlabel-2">GL Account</label>
                            </span>
                        </div>
                    </div>
                    <br/>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-3">
                            <p-checkbox binary="true" label="Allow GL transaction" formControlName="allowedGlTransaction" [disabled]="true"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <p-checkbox binary="true" label="Allow client transaction" formControlName="allowedClientTransaction" [disabled]="true"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <p-checkbox binary="true" label="Denomination required" formControlName="denominationRequired" [disabled]="true"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <p-checkbox binary="true" label="Force limit" formControlName="forceLimit" [disabled]="true"></p-checkbox>
                        </div>
                    </div>
                    <br/>

                </div>

            </mat-card>
        </div>
    </form>
</div>
<div style="display: flex; flex-direction: row; width: 100%;">
    <div style="width: 100%; margin-bottom: 10px;">

        <mat-card style="flex: 1">
            <mat-card-title>Currency & Teller Limit:</mat-card-title>

            <p-dataTable [value]="tellerLimits" [responsive]="true">

                <p-column field="currencyCode" header="Currency" [style]="{'text-align':'center'}">
                    <ng-template let-col let-data="rowData" pTemplate="body">
                        {{currencyMap.get(data.currencyCode)}}
                    </ng-template>
                </p-column>
                <p-column field="cashReceiveLimit" header="Cash receive limit" [style]="{'text-align':'center'}">
                    <ng-template let-col let-data="rowData" let-index="rowIndex" pTemplate="body">
                        {{data.cashReceiveLimit | number:'1.2-4'}}
                    </ng-template>

                </p-column>

                <p-column field="cashWithdrawLimit" header="Cash withdraw limit" [style]="{'text-align':'center'}">
                    <ng-template let-col let-data="rowData" let-index="rowIndex" pTemplate="body">
                        {{data.cashWithdrawLimit | number:'1.2-4'}}
                    </ng-template>

                </p-column>

                <p-column field="balanceLimit" header="Balance limit" [style]="{'text-align':'center'}">
                    <ng-template let-col let-data="rowData" let-index="rowIndex" pTemplate="body">
                        {{data.balanceLimit | number:'1.2-4'}}
                    </ng-template>

                </p-column>
            </p-dataTable>
        </mat-card>
    </div>
</div>
<comment-component [commentGroup]="commandReference" style="width: 100%"></comment-component>