<verifier-selection [visible]="showVerifierSelectionModal" [command]="command" [processId]="processId" (onVerifierSelect)="onVerifierSelect($event)"></verifier-selection>

<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Approve Task</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" class="default-btn" label="Accept" icon="fa-check" (click)="submit()"></button>
            <button pButton type="button" class="default-btn" label="Reject" icon="ui-icon-block" (click)="verifyTask('REJECT',null)"></button>
            <button *ngIf="!withdrawal" pButton type="button" class="default-btn" label="Correction" icon="ui-icon-edit" (click)="verifyTask('CORRECTION',null)"></button>
            <button pButton type="button" class="default-btn" label="Back" icon="ui-icon-keyboard-arrow-left" (click)="cancel()"></button>
        </div>
    </div>
</div>

<br/>
<br/>
<mat-card style="margin-bottom: 10px;">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Title</th>
                    <td>{{demandDepositAccount.name}}</td>
                </tr>
                <tr>
                    <th>Account No</th>
                    <td>{{demandDepositAccount.number}}</td>
                </tr>
            </table>
        </div>
        <div class="ui-g-12">

            <div class="ui-g ui-fluid form-group">
                <div class="ui-g-12 ui-md-12">
                    <p-dropdown [options]="instructionTypes | instructionTypePipe" [autoWidth]="false" [(ngModel)]="specialInstruction.specialInstructionType"
                        name="specialInstructionType" [disabled]="true"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="specialInstruction.description" name="description" readonly>
                        <label>Description</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="specialInstruction.lienAmount">
                    <span class="md-inputfield">
                        <input type="number" pInputText [(ngModel)]="specialInstruction.lienAmount" name="lienAmount" readonly>
                        <label>Lien Amount</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="specialInstruction.chequeNumberFrom">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="specialInstruction.chequeNumberFrom" name="chequeNumberFrom" readonly>
                        <label>Cheque Number From</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="specialInstruction.chequeNumberTo">
                    <span class="md-inputfield">
                        <input type="text" pInputText [(ngModel)]="specialInstruction.chequeNumberTo" name="chequeNumberTo" readOnly>
                        <label>Cheque Number To</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="specialInstruction.chequeAmount">
                    <span class="md-inputfield">
                        <input type="number" pInputText [(ngModel)]="specialInstruction.chequeAmount" name="chequeAmount" readonly>
                        <label>Cheque Amount</label>
                    </span>
                </div>

            </div>

        </div>
    </div>
</mat-card>


<comment-component [commentGroup]="commandReference" style="width: 100%" *ngIf="commandReference"></comment-component>