<verifier-selection [visible]="showVerifierSelectionModal" [command]="command" (onVerifierSelect)="onVerifierSelect($event)"></verifier-selection>
<!-- 
<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Gl Account</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" label="Save" icon="ui-icon-save" class="default-btn" (click)="submit()" [disabled]="glAccountFormInvalid()"></button>
            <button pButton type="button" label="Cancel" icon="ui-icon-cancel" class="default-btn" (click)="cancel()"></button>
        </div>
    </div>
</div>

<br/>
<br/> -->

<!-- <div [formGroup]='glAccountForm'>

    <mat-card style="margin-bottom: 7px;">

        <mat-card-title>Basic Information:</mat-card-title>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">

                <div class="ui-g ui-fluid form-group">

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                    <input type="text" pInputText formControlName="name">
                    <label>Name</label>
            </span>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                    <input type="text" pInputText formControlName="code">
                    <label>Code</label>
            </span>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <span class="md-inputfield">
                    <input type="text" pInputText formControlName="description">
                    <label>Description</label>
            </span>
                    </div>


                </div>

            </div>

        </div>
    </mat-card>

    <mat-card>
        <mat-card-title>Configuration:</mat-card-title>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">

                <div class="ui-g ui-fluid form-group">
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="currencyRestrictions" [autoWidth]="false" formControlName="currencyRestriction"></p-dropdown>
                        <label class="md-inputlabel-2">Currency Restriction*</label>  
                    </span>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="glSubTypes" [autoWidth]="false" formControlName="glSubType"></p-dropdown>
                        <label class="md-inputlabel-2">Gl Sub Types*</label>  
                    </span>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="glTypes" [autoWidth]="false" formControlName="glType"></p-dropdown>
                        <label class="md-inputlabel-2">Gl Types*</label>  
                    </span>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="leafTypes" [autoWidth]="false" formControlName="leafType"></p-dropdown>
                        <label class="md-inputlabel-2">Leaf Types*</label>  
                    </span>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="reconciliationType" [autoWidth]="false" formControlName="reconciliationType"></p-dropdown>
                        <label class="md-inputlabel-2">Reconcilliation Type*</label>  
                     </span>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="reEvaluationFrequency" [autoWidth]="false" formControlName="revaluationFrequency"></p-dropdown>
                        <label class="md-inputlabel-2">Reevaluation Frequency*</label>  
                    </span>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield-2">
                        <p-dropdown [options]="status" [autoWidth]="false" formControlName="status"></p-dropdown>
                        <label class="md-inputlabel-2">Status*</label>  
                    </span>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-3">
                            <span class="md-inputfield">
                           <p-checkbox binary="true" formControlName="allowBackPeriodTransaction"></p-checkbox>
                           <span class="taskName">Allow back period transaction</span>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-3">
                            <span class="md-inputfield">
                           <p-checkbox binary="true" formControlName="negativeBalanceAllowed"></p-checkbox>
                           <span class="taskName">Negative Ballance Allowed</span>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-3">
                            <span class="md-inputfield">
                           <p-checkbox binary="true" formControlName="temporaryGl"></p-checkbox>
                           <span class="taskName">Temporary GL</span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </mat-card>
</div> -->