<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Demand deposit product cheque book size</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" class="default-btn" label="Back" icon="ui-icon-keyboard-arrow-left" (click)="cancel()"></button>
        </div>
    </div>
</div>
<br/>
<br/>

<div class="ui-g">
    <div class="ui-g-12">

            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h3>
                            <b>Cheque Book Size</b>
                        </h3>
                        <br>
                        <p-dataTable [value]="chequeBookSizes" selectionMode="single" dataKey="id" [totalRecords]="totalRecords" #dt>
                            <p-column field="id" header="Serial"></p-column>
                            <p-column field="bookSize" header="Book Size"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
      

    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" [closable]="false"></p-confirmDialog>