<verifier-selection [visible]="showVerifierSelectionModal" [command]="command" (onVerifierSelect)="onVerifierSelect($event)"></verifier-selection>

<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Create fixed deposit product</span>
        <div class="ababil-toolbar-button-group">
            <button pButton label="Save" type="button" icon="ui-icon-save" class="default-btn" (click)="submit()"></button>
            <button pButton label="Back" type="button" icon="ui-icon-keyboard-arrow-left" class="default-btn" (click)="cancel()"></button>
        </div>
    </div>
</div>
<br/>
<br/>

<div style="display: flex; flex-direction: row; width: 100%;">
    <form class="ui-fluid form-group" [formGroup]="fixedDepositProductForm">

        <div style="width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 1">
                <mat-card-title>Basic information:</mat-card-title>
                <div class="ui-g">

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" pInputText formControlName="name">
                                <label>Name*</label>
                                <div *ngIf="fixedDepositProductForm.controls['name'].errors && !fixedDepositProductForm.controls['name'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['name'].errors.required">Product name is required.</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['name'].errors.pattern">Product name format is invalid.</div>
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" pInputText formControlName="description">
                                <label>Description</label>
                                <div *ngIf="fixedDepositProductForm.controls['description'].errors && !fixedDepositProductForm.controls['description'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['description'].errors.pattern">Description format is invalid.</div>
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="int" formControlName="code">
                                <label>Code*</label>
                                <div *ngIf="fixedDepositProductForm.controls['code'].errors && !fixedDepositProductForm.controls['code'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['code'].errors.required">Code is required.</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="fixedDepositProductForm.controls['code'].errors.maxlength">Code can not exceed 3 digits</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="fixedDepositProductForm.controls['code'].errors.minlength">Code must be of 3 digits</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-g">

                    <div class="ui-g-12 ui-md-4" style="padding-top:15px; margin-top:10px;">
                        <div class="ui-g-12">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="currencyRestriction" [autoWidth]="false" formControlName="currencyRestriction" (onChange)="onCurrencyChange()"></p-dropdown>
                                <label class="md-inputlabel-2">Currency restriction*</label>
                                <div *ngIf="fixedDepositProductForm.controls['currencyRestriction'].errors && !fixedDepositProductForm.controls['currencyRestriction'].pristine"
                                    class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['currencyRestriction'].errors.required">Currency restriction is required.</div>
                            </span>

                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-4" *ngIf="multipleCurrency" style="padding-top:15px; margin-top:10px;">
                        <div class="ui-g-12">
                            <span class="md-inputfield-2">
                                <p-multiSelect [options]="currencies" formControlName="currencies"></p-multiSelect>
                                <label class="md-inputlabel-2">Currencies*</label>

                                <div *ngIf="fixedDepositProductForm.controls['currencies'].errors && !fixedDepositProductForm.controls['currencies'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['currencies'].errors.required">Currencies required.</div>

                               
                                </div>
                            </span>
                        </div>
                    </div>

                </div>
            </mat-card>
        </div>

        <div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px;">
            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Amount:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="money" formControlName="minimumDepositAmount">
                                <label>Minimum deposit amount*</label>
                                <div *ngIf="fixedDepositProductForm.controls['minimumDepositAmount'].errors && !fixedDepositProductForm.controls['minimumDepositAmount'].pristine"
                                    class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['minimumDepositAmount'].errors.required">Minimum deposit amount is required.</div>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="money" formControlName="maximumDepositAmount">
                                <label>Maximum deposit amount</label>
                                
                                <div *ngIf="fixedDepositProductForm.controls['maximumDepositAmount'].errors && !fixedDepositProductForm.controls['maximumDepositAmount'].pristine"
                                    class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['maximumDepositAmount'].errors.required">Maximum deposit amount is required.</div>
                                <div *ngIf="fixedDepositProductForm.controls['maximumDepositAmount'].errors && !fixedDepositProductForm.controls['maximumDepositAmount'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['maximumDepositAmount'].errors.min">Maximum deposit can not be less than minimum deposit</div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="pint" formControlName="depositAmountMultiplier">
                                <label>Deposit amount multiplier*</label>
                                <div *ngIf="displayAmountErrorMessage">
                                    <div class="ui-message ui-messages-error ui-corner-all">
                                        Maximum and minimum deposit amount have to satisfy deposit amount multiplier.
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card style="flex:3; margin-right: 5px;">
                <mat-card-title>Quard:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox binary="true" formControlName="isQuardAllowed" [disabled]="quardBlockDisabled"></p-checkbox>
                            <span class="task-name">Quard allowed</span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="pnum" formControlName="quardPercentage" [attr.disabled]="quardchecker ? 'disabled' : null">
                                <label>Quard percentage</label>
                                <div *ngIf="fixedDepositProductForm.controls['quardPercentage'].errors && !fixedDepositProductForm.controls['quardPercentage'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['quardPercentage'].errors.required">Quard percentage is required.</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['quardPercentage'].errors.max">Quard percentage is within 0 and 100</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['quardPercentage'].errors.min">Quard percentage is within 0 and 100</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card style="flex: 3;">
                <mat-card-title>Lien:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox binary="true" formControlName="isLienAllowed"></p-checkbox>
                            <span class="task-name">Lien allowed</span>

                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="pnum" formControlName="lienPercentage" [attr.disabled]="lienchecker?'disabled':null">
                                <label>Lien percentage</label>
                                <div *ngIf="fixedDepositProductForm.controls['lienPercentage'].errors && !fixedDepositProductForm.controls['lienPercentage'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['lienPercentage'].errors.required">Lien percentage is required.</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['lienPercentage'].errors.max">Lien percentage is within 0 and 100</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['lienPercentage'].errors.min">Lien percentage is within 0 and 100</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card style="flex: 3;">
                <mat-card-title>Withdrawal:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox binary="true" formControlName="isWithdrawalAllowed" [disabled]="withdrawalBlockDisabled"></p-checkbox>
                            <span class="task-name">Withdrawal allowed</span>

                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12"> 
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText pKeyFilter="pnum" formControlName="withdrawalPercentage" [attr.disabled]="withdrawalPercentageChecker?'disabled':null">
                                <label>Withdrawal percentage</label>
                                <div *ngIf="fixedDepositProductForm.controls['withdrawalPercentage'].errors && !fixedDepositProductForm.controls['withdrawalPercentage'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['withdrawalPercentage'].errors.required">Withdrawal percentage is required.</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['withdrawalPercentage'].errors.max">Withdrawal percentage is within 0 and 100</div>
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['withdrawalPercentage'].errors.min">Withdrawal percentage is within 0 and 100</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div style="display: flex; flex-direction: row; width: 100%;">
            <mat-card style="flex:3; margin-right: 5px;">
                <mat-card-title>Product calculation:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox formControlName="isProfitAppliedBeforeMaturity" binary="true"></p-checkbox>
                            <span class="task-name">Profit applied before maturity</span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12 dropdown-padding">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="profitPostingPeriod" [autoWidth]="false" formControlName="profitPostingPeriod" [disabled]="profitchecker"></p-dropdown>
                                <label class="md-inputlabel-2">Profit posting period</label>
                                <div *ngIf="fixedDepositProductForm.controls['profitPostingPeriod'].errors && !fixedDepositProductForm.controls['profitPostingPeriod'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['profitPostingPeriod'].errors.required">Profit posting period is required.</div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12 dropdown-padding">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="profitPostingPeriodType" [autoWidth]="false" formControlName="profitPostingPeriodType" [disabled]="profitchecker"></p-dropdown>
                                <label class="md-inputlabel-2">Profit posting period type</label>
                                <div *ngIf="fixedDepositProductForm.controls['profitPostingPeriodType'].errors && !fixedDepositProductForm.controls['profitPostingPeriodType'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['profitPostingPeriodType'].errors.required">Profit posting period type is required.</div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox formControlName="isCompoundingBeforeMaturityAllowed" binary="true" [disabled]="compoundingBeforeMaturityAllowed"></p-checkbox>
                            <span class="task-name">Compounding before maturity allowed</span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox formControlName="isWithdrawProfitBeforeMaturityAllowed" binary="true" [disabled]="withdrawProfitBeforeMaturityAllowed"></p-checkbox>
                            <span class="task-name">Withdraw profit before maturity allowed</span>
                        </div>
                    </div>

  

                    <div class="ui-g-12 ui-md-12 dropdown-padding">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="profitCalculationBasedOn" [autoWidth]="false" formControlName="profitCalculationBasedOn"></p-dropdown>
                                <label class="md-inputlabel-2">Profit calculation based on*</label>
                                <div *ngIf="fixedDepositProductForm.controls['profitCalculationBasedOn'].errors && !fixedDepositProductForm.controls['profitCalculationBasedOn'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['profitCalculationBasedOn'].errors.required">Profit calculation based on field is required.</div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12 dropdown-padding">
                        <div class="ui-g-12 ui-md-12">
                            <span class="md-inputfield-2">
                                <p-dropdown [options]="daysInYear" [autoWidth]="false" formControlName="daysInYear"></p-dropdown>
                                <label class="md-inputlabel-2">Days in year*</label>
                                <div *ngIf="fixedDepositProductForm.controls['daysInYear'].errors && !fixedDepositProductForm.controls['daysInYear'].pristine">
                                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['daysInYear'].errors.required">Days in year field is required.</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card style="flex: 3; margin-right: 5px;">
                <mat-card-title>Tenor:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12" style="padding-bottom: 20px;">
                        <p-inputSwitch formControlName="isTenorRequired"></p-inputSwitch>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div style="display: flex; flex-direction: row; width: 100%;">
                            <div style="flex:4.5; margin-right: 5px;">
                                <span class="md-inputfield-2 dropdown-align-padding">
                                    <p-dropdown [options]="tenorType" [autoWidth]="false" formControlName="tenorType" [disabled]="disableTenorType"></p-dropdown>
                                    <label class="md-inputlabel-2">Tenor type</label>
                                    <div *ngIf="fixedDepositProductForm.controls['tenorType'].errors && !fixedDepositProductForm.controls['tenorType'].pristine">
                                        <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['tenorType'].errors.required">Tenor type is required.</div>
                                    </div>
                                </span>
                            </div>

                            <div style="flex:4.5; margin-right: 5px;">
                                <span class="md-inputfield">
                                    <input type="text" pInputText pKeyFilter="pint" formControlName="tenor" [attr.disabled]="disableTenor ? 'disabled' : null">
                                    <label>Tenor</label>
                                    <div *ngIf="fixedDepositProductForm.controls['tenor'].errors && !fixedDepositProductForm.controls['tenor'].pristine && (tenors.length <= 0)">
                                        <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['tenor'].errors.required">Tenor is required.</div>
                                    </div>
                                    <div *ngIf="fixedDepositProductForm.controls['tenor'].errors && !fixedDepositProductForm.controls['tenor'].pristine">
                                        <div class="ui-message ui-messages-error ui-corner-all" [hidden]="!fixedDepositProductForm.controls['tenor'].errors.duplicateTenor">Duplicate tenor not allowed.</div>                                      
                                    </div>
                                </span>
                            </div>

                            <div style="flex:1;">
                                <button pButton type="button" icon="ui-icon-plus" class="default-btn" (click)="addTenor()" [disabled]="disableAddTenorButton"></button>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <p-dataTable [value]="tenors" [rows]="4" [paginator]="true">
                            <p-column field="id" header="#SL" [style]="{'width':'40px','text-align':'center'}">
                                <ng-template let-i="rowIndex" pTemplate="body">
                                    {{i+1}}
                                </ng-template>
                            </p-column>
                            <p-column header="Tenor type" [style]="{'text-align':'center'}">
                                <ng-template pTemplate="body">
                                    {{datatableTenorType}}
                                </ng-template>
                            </p-column>
                            <p-column header="Tenor" [style]="{'text-align':'center'}">
                                <ng-template let-i="rowIndex" pTemplate="body">
                                    {{tenors[i]}}
                                </ng-template>
                            </p-column>
                            <p-column header="Delete" [style]="{'width':'70px','text-align':'center'}">
                                <ng-template let-i="rowIndex" pTemplate="body">
                                    <div align="center">
                                        <button type="button" pButton (click)="deleteTenor(i)" tooltipPosition="top" icon="ui-icon-delete"></button>
                                    </div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </mat-card>

            <mat-card style="flex:3;">
                <mat-card-title>Other:</mat-card-title>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox binary="true" formControlName="isLinkAccountRequired"></p-checkbox>
                            <span class="task-name">Link account required</span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox binary="true" formControlName="isAutoRenewalAllowed"></p-checkbox>
                            <span class="task-name">Auto renewal allowed</span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <p-checkbox binary="true" formControlName="isAutoRenewalOverridable" [disabled]="autorenewaloverridablechecker"></p-checkbox>
                            <span class="task-name">Auto renewal overridable</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </form>

</div>
<p-footer>
    * indicates required field.
</p-footer>

<comment-component [commentGroup]="commandReference" style="width: 100%" *ngIf="commandReference"></comment-component>