.set-bottom-margin{
    margin-bottom: 3px;
}

.set-bottom-padding{
    padding-bottom: 0;
}

.set-hr-margin{
    margin-top: 0;
    margin-left: -24px;
    margin-right: -24px;
}

.no-bottom-margin{
    margin-bottom: 0;
}

.no-padding{
    padding: 0;
}
