<div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">Service providers</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" icon="ui-icon-search" class="default-btn" (click)="op.show($event)"></button>
            <button pButton label="Create" type="button" icon="ui-icon-plus" class="default-btn" (click)="create()"></button>
        </div>
    </div>
</div>

<p-overlayPanel #op>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-10" style="padding-top: 15px">
            <span class="md-inputfield">
                <input type="text" />
                <!-- <label>Branch wise search</label> -->
            </span>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" icon="ui-icon-search" class="default-btn"></button>
        </div>
    </div>
</p-overlayPanel>

<mat-card style="margin-top:50px">
    <mat-card-title>Sevice providers:</mat-card-title>
    <p-dataTable [value]="providers" selectionMode="single" (onRowSelect)="onRowSelect($event)" [lazy]="true"  [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadProvidersLazily($event)" [rows]="20" >
        <p-column field="providerName" header="Provider name"></p-column>
        <p-column field="shortName" header="Short name"></p-column>
        <p-column field="billCollectionAccountType" header="Account type"></p-column>
        <p-column field="accountId" header="Account ID"></p-column>
        <p-column field="vatGlAccountId" header="VAT GL account Id"></p-column>
    </p-dataTable>
</mat-card>
