<!-- <div class="ui-g">
    <div class="ababil-toolbar">
        <span class="ababil-toolbar-header">GL Account Details</span>
        <div class="ababil-toolbar-button-group">
            <button pButton type="button" label="Edit" icon="ui-icon-create" class="default-btn" [routerLink]="['edit']"></button>
            <button pButton type="button" label="Delete" icon="ui-icon-delete" class="default-btn"></button>
            <button pButton type="button" label="Cancel" icon="ui-icon-cancel" class="default-btn" (click)="cancel()"></button>
        </div>
    </div>
</div>

<br/>
<br/>

<mat-card>
    <div class="row" style="font-size: 12px">
        <div class="ui-g-12">
            <div class="ui-g-6">
                <table class="table table-bordered table-striped">

                    <tr>
                        <th>Name</th>
                        <td>{{glAccountDetails.name}}</td>
                    </tr>

                    <tr>
                        <th>Code</th>
                        <td>{{glAccountDetails.code}}</td>
                    </tr>

                    <tr>
                        <th>Status</th>
                        <td>{{glAccountDetails.status}}</td>
                    </tr>

                    <tr>
                        <th>Leaf Type</th>
                        <td>{{glAccountDetails.leafType}}</td>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{glAccountDetails.description}}</td>
                    </tr>

                    <tr>
                        <th>Gl Type</th>
                        <td>{{glAccountDetails.glType}}</td>
                    </tr>

                    <tr>
                        <th>Currency Restriction</th>
                        <td>{{glAccountDetails.currencyRestriction}}</td>
                    </tr>

                </table>
            </div>
            <div class="ui-g-6">

                <table class="table table-bordered table-striped">

                    <tr>
                        <th>Allow Backperiod Transaction</th>
                        <td>{{glAccountDetails.allowBackPeriodTransaction}}</td>
                    </tr>

                    <tr>
                        <th>Closing Date Time</th>
                        <td>{{glAccountDetails.closingDateTime}}</td>
                    </tr>

                    <tr>
                        <th>Functional Currency</th>
                        <td>{{glAccountDetails.functionalCurrency}}</td>
                    </tr>

                    <tr>
                        <th>Negative Ballance Allowed</th>
                        <td>{{glAccountDetails.negativeBalanceAllowed}}</td>
                    </tr>

                    <tr>
                        <th>Temporary GL</th>
                        <td>{{glAccountDetails.temporaryGl}}</td>
                    </tr>

                    <tr>
                        <th>Reconciliation Type</th>
                        <td>{{glAccountDetails.reconciliationType}}</td>
                    </tr>

                    <tr>
                        <th>Re-evaluation Frequency</th>
                        <td>{{glAccountDetails.revaluationFrequency}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</mat-card> -->